<ion-card 
  class="d-flex-center ion-text-center column"
  mode="ios">

  <ion-list>

    <ion-item class="custom-input" lines="none">
      <ion-select 
          [formControl]="ammount" 
          interface="popover" 
          placeholder="Número de cuotas">

          <ion-select-option
            *ngFor="let cuota of numberOfCuotas" 
            [value]="cuota.valor">
            {{ cuota.cuota }}
          </ion-select-option>

        </ion-select>
    </ion-item>

  </ion-list>

  <ion-button 
    mode="ios" 
    class="ion-margin" 
    color="success"
    (click)="emitAmmount()"
    [disabled]="ammount.invalid">
    Pagar
    <ion-icon slot="end" name="cash-outline"></ion-icon>
  </ion-button>

</ion-card>