<ion-card>

  <ion-card-header>
    <ion-card-title>
      Historial de pagos
    </ion-card-title>
    <ion-card-subtitle>
      {{cliente.alias | titlecase}}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let pago of pagos" button detail="true">
        <ion-label>
          <ion-text>
            <h3>Fecha: {{pago.fecha}}</h3>
          </ion-text>

          <ion-text>
            <h3>Valor: {{pago.valor | currency:'$'}}</h3>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-card>